.index h2{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color:rgb(255, 0, 0); 
    padding: 10px;
    font-family: "Broadway", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
.index p{
        color: rgb(255, 255, 255);
        background-color: black;
        font-size: smaller;
        font-family: Calibri,Gill Sans, Gill Sans MT, Trebuchet MS, sans-serif;          
}
.index h4{
color: rgb(252, 187, 10);
background-color: black;
font-family:MB Kufi, Geneva, Verdana, sans-serif
}